<div class="header py-4 dark:bg-gray-700">
    
    <h1 class="text-4xl md:text-4xl text-center text-gray-700 dark:text-white font-extrabold">Mes langages</h1>
    <p class="max-w-2xl text-gray-800 dark:text-white dark:text-white text-center md:mx-auto mx-4 mt-4 text-sm md:text-lg">Liste des langages que j'utilise et à quel point je suis à l'aise avec.</p>
  </div>

  <div class="max-w-5xl mx-auto sm:px-6 lg:px-8">
<div>
    
    <dl class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-4">
      
  
      <div class="px-4 py-5  shadow rounded-lg overflow-hidden sm:p--6">
        <dt class="text-sm font-medium text-gray-800 dark:text-white truncate underline">CSS</dt>
       
          
          <div class="mb-1 text-base font-medium text-gray-400">40%</div>
<div class="w-full bg-gray-200 rounded-full h-2.5">
  <div class="bg-yellow-200 h-2.5 rounded-full" style="width:40%"></div>
</div>        
      </div>
  
      <div class="px-4 py-5  shadow rounded-lg overflow-hidden sm:p--6">
        <dt class="text-sm font-medium text-gray-800 dark:text-white truncate underline">Javascript</dt>
       
          
          <div class="mb-1 text-base font-medium text-gray-400">60%</div>
<div class="w-full bg-gray-200 rounded-full h-2.5">
  <div class="bg-green-200 h-2.5 rounded-full" style="width:60%"></div>
</div>        
      </div>




     <div class="px-4 py-5  shadow rounded-lg overflow-hidden sm:p--6">
        <dt class="text-sm font-medium text-gray-800 dark:text-white truncate underline">PHP</dt>
       
          
          <div class="mb-1 text-base font-medium text-gray-400">80%</div>
<div class="w-full bg-gray-200 rounded-full h-2.5">
  <div class="bg-green-300 h-2.5 rounded-full" style="width:80%"></div>
</div>        
      </div>

      <div class="px-4 py-5  shadow rounded-lg overflow-hidden sm:p--6">
        <dt class="text-sm font-medium text-gray-800 dark:text-white truncate underline">HTML</dt>
       
          
          <div class="mb-1 text-base font-medium text-gray-400">85%</div>
<div class="w-full bg-gray-200 rounded-full h-2.5">
  <div class="bg-green-400 h-2.5 rounded-full" style="width:85%"></div>
</div>        
      </div>
    </dl>
  </div>


<br>
<hr>





  <!-- Frameworks -->
  <div class="header py-4 dark:bg-gray-700">

    <h1 class="text-4xl md:text-4xl text-center text-gray-700 dark:text-white font-extrabold">Frameworks</h1>
    <p class="max-w-2xl text-gray-800 dark:text-white dark:text-white text-center md:mx-auto mx-4 mt-4 text-sm md:text-lg">Liste des frameworks que j'ai appris et à quel point je les maitrises.</p>
  </div>

  <div class="max-w-5xl mx-auto sm:px-6 lg:px-8">
<div>
    
    <dl class="mt-5 grid  d grid-cols-1 gap-5 sm:grid-cols-5">

      <div class="px-4 py-5  shadow rounded-lg overflow-hidden sm:p--6">
        <dt class="text-sm font-medium text-gray-800 dark:text-white dark:text-white truncate underline">NodeJS</dt>
       
          
          <div class="mb-1 text-base font-medium text-gray-400">10%</div>
<div class="w-full bg-gray-200 rounded-full h-2.5">
  <div class="bg-red-500 h-2.5 rounded-full" style="width:10%"></div>
</div>        
      </div>




      <div class="px-4 py-5  shadow rounded-lg overflow-hidden sm:p--6">
        <dt class="text-sm font-medium text-gray-800 dark:text-white dark:text-white truncate underline">Angular</dt>
       
          
          <div class="mb-1 text-base font-medium text-gray-400">35%</div>
<div class="w-full bg-gray-200 rounded-full h-2.5">
  <div class="bg-yellow-200 h-2.5 rounded-full" style="width:10%"></div>
</div>        
      </div>


      <div class="px-4 py-5  shadow rounded-lg overflow-hidden sm:p--6">
        <dt class="text-sm font-medium text-gray-800 dark:text-white truncate underline">Jquery</dt>
       
          
          <div class="mb-1 text-base font-medium text-gray-400">80%</div>
<div class="w-full bg-gray-200 rounded-full h-2.5">
  <div class="bg-green-300 h-2.5 rounded-full" style="width:80%"></div>
</div>        
      </div>
  
      <div class="px-4 py-5  shadow rounded-lg overflow-hidden sm:p--6">
        <dt class="text-sm font-medium text-gray-800 dark:text-white truncate underline">TailwindCSS</dt>
       
          
          <div class="mb-1 text-base font-medium text-gray-400">90%</div>
<div class="w-full bg-gray-200 rounded-full h-2.5">
  <div class="bg-green-600 h-2.5 rounded-full" style="width:90%"></div>
</div>        
      </div>
  
      <div class="px-4 py-5  shadow rounded-lg overflow-hidden sm:p--6">
        <dt class="text-sm font-medium text-gray-800 dark:text-white truncate underline">Bootstrap</dt>
       
          
          <div class="mb-1 text-base font-medium text-gray-400">100%</div>
<div class="w-full bg-gray-200 rounded-full h-2.5">
  <div class="bg-green-700 h-2.5 rounded-full" style="width:100%"></div>
</div>        
      </div>

     
    </dl>
    <br><br>
    <div class="text-center p-4 mb-4 text-sm text-blue-700 bg-blue-100 rounded-lg dark:bg-blue-200 dark:text-blue-800" role="alert">
      Je suis en train d'apprendre <a href="https://angular.io" class="text-blue-900 text-lg" target="blank()">Angular</a>
       et
 <a href="https://NodeJS.org/en/" class="text-blue-900 text-lg" target="blank()">NodeJS</a>
    </div>
  </div>
  </div> <!-- container -->