<div class="header py-4 dark:bg-gray-700">
    
    <h1 class="text-4xl md:text-4xl text-center text-gray-700 dark:text-white font-extrabold">Mes langages</h1>
    <p class="max-w-2xl text-gray-800 dark:text-white text-center md:mx-auto mx-4 mt-4 text-sm md:text-lg">Liste des langages que j'utilise et à quel point je suis à l'aise avec.</p>
  </div>

  <div class="max-w-5xl mx-auto sm:px-6 lg:px-8">
<div>
    
    <dl class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-4">
      
  
      <div class="px-4 py-5 bg-yellow-200 shadow rounded-lg overflow-hidden sm:p--6">
        <dt class="text-sm font-medium text-gray-800 truncate underline">CSS</dt>
        <dd class="mt-1 text-3xl font-semibold text-gray-900">40%</dd>
      </div>
  
      <div class="px-4 py-5 bg-green-200 shadow rounded-lg overflow-hidden sm:p-6">
        <dt class="text-sm font-medium text-gray-800 truncate underline">Javascript</dt>
        <dd class="mt-1 text-3xl font-semibold text-gray-900">60%</dd>
      </div>

      <div class="px-4 py-5 bg-green-300 shadow-lg overflow-hidden sm:w rounded-lg overflow-hidden sm:p-6">
        <dt class="text-sm font-medium text-gray-800 truncate underline">PHP</dt>
        <dd class="mt-1 text-3xl font-semibold text-gray-900">80%</dd>
      </div>

      <div class="px-4 py-5 bg-green-400 shadow rounded-lg overflow-hidden sm:p-6">
        <dt class="text-sm font-medium text-gray-800 truncate underline">HTML</dt>
        <dd class="mt-1 text-3xl font-semibold text-gray-900">85%</dd>
      </div>
    </dl>
  </div>


<br>
<hr>





  <!-- Frameworks -->
  <div class="header py-4 dark:bg-gray-700">

    <h1 class="text-4xl md:text-4xl text-center text-gray-700 dark:text-white font-extrabold">Frameworks</h1>
    <p class="max-w-2xl text-gray-800 dark:text-white text-center md:mx-auto mx-4 mt-4 text-sm md:text-lg">Liste des frameworks que j'ai appris et à quel point je les maitrises.</p>
  </div>

  <div class="max-w-5xl mx-auto sm:px-6 lg:px-8">
<div>
    
    <dl class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-4">

      <div class="px-4 py-5 bg-red-300 shadow rounded-lg overflow-hidden sm:p-6">
        <dt class="text-sm font-medium text-gray-800 truncate underline">Angular</dt>
        <dd class="mt-1 text-3xl font-semibold text-gray-900">10%</dd>
      </div>


      <div class="px-4 py-5 bg-green-300 shadow rounded-lg overflow-hidden sm:p-6">
        <dt class="text-sm font-medium text-gray-800 truncate underline">Jquery</dt>
        <dd class="mt-1 text-3xl font-semibold text-gray-900">80%</dd>
      </div>
  
      <div class="px-4 py-5 bg-green-600 shadow rounded-lg overflow-hidden sm:p-6">
        <dt class="text-sm font-medium text-gray-800 truncate underline">TailwindCSS</dt>
        <dd class="mt-1 text-3xl font-semibold text-gray-900">90%</dd>
      </div>
  
      <div class="px-4 py-5 bg-green-700 shadow rounded-lg overflow-hidden sm:p-6">
        <dt class="text-sm font-medium text-gray-800 truncate underline">Bootstrap</dt>
        <dd class="mt-1 text-3xl font-semibold text-gray-900">100%</dd>
      </div>

     
    </dl>
  </div>
  </div> <!-- container -->