<div class="header py-4 dark:bg-gray-700">
    <p class="text-center text-sm font-bold text-red-500">/langages</p>
    <h1 class="text-4xl md:text-4xl text-center text-gray-700 dark:text-white font-extrabold">Mes langages</h1>
    <p class="max-w-2xl text-gray-500 dark:text-white text-center md:mx-auto mx-4 mt-4 text-sm md:text-lg">Liste des langages que j'utilise et à quel point.</p>
  </div>

  <div class="max-w-5xl mx-auto sm:px-6 lg:px-8">
<div>
    
    <dl class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-4">
      <div class="px-4 py-5 bg-white shadow rounded-lg overflow-hidden sm:p-6">
        <dt class="text-sm font-medium text-gray-500 truncate">HTML</dt>
        <dd class="mt-1 text-3xl font-semibold text-gray-900">?%</dd>
      </div>
  
      <div class="px-4 py-5 bg-white shadow rounded-lg overflow-hidden sm:p-6">
        <dt class="text-sm font-medium text-gray-500 truncate">CSS</dt>
        <dd class="mt-1 text-3xl font-semibold text-gray-900">?%</dd>
      </div>
  
      <div class="px-4 py-5 bg-white shadow rounded-lg overflow-hidden sm:p-6">
        <dt class="text-sm font-medium text-gray-500 truncate">Javascript</dt>
        <dd class="mt-1 text-3xl font-semibold text-gray-900">?%</dd>
      </div>

      <div class="px-4 py-5 bg-white shadow rounded-lg overflow-hidden sm:p-6">
        <dt class="text-sm font-medium text-gray-500 truncate">PHP</dt>
        <dd class="mt-1 text-3xl font-semibold text-gray-900">?%</dd>
      </div>
    </dl>
  </div>


<br>
<hr>





  <!-- Frameworks -->
  <div class="header py-4 dark:bg-gray-700">

    <h1 class="text-4xl md:text-4xl text-center text-gray-700 dark:text-white font-extrabold">Frameworks</h1>
    <p class="max-w-2xl text-gray-500 dark:text-white text-center md:mx-auto mx-4 mt-4 text-sm md:text-lg">Liste des frameworks que j'ai appris et à quel point je les maitrises.</p>
  </div>

  <div class="max-w-5xl mx-auto sm:px-6 lg:px-8">
<div>
    
    <dl class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-4">
      <div class="px-4 py-5 bg-white shadow rounded-lg overflow-hidden sm:p-6">
        <dt class="text-sm font-medium text-gray-500 truncate">Jquery</dt>
        <dd class="mt-1 text-3xl font-semibold text-gray-900">?%</dd>
      </div>
  
      <div class="px-4 py-5 bg-white shadow rounded-lg overflow-hidden sm:p-6">
        <dt class="text-sm font-medium text-gray-500 truncate">TailwindCSS</dt>
        <dd class="mt-1 text-3xl font-semibold text-gray-900">?%</dd>
      </div>
  
      <div class="px-4 py-5 bg-white shadow rounded-lg overflow-hidden sm:p-6">
        <dt class="text-sm font-medium text-gray-500 truncate">Bootstrap</dt>
        <dd class="mt-1 text-3xl font-semibold text-gray-900">?%</dd>
      </div>

      <div class="px-4 py-5 bg-white shadow rounded-lg overflow-hidden sm:p-6">
        <dt class="text-sm font-medium text-gray-500 truncate">Angular</dt>
        <dd class="mt-1 text-3xl font-semibold text-gray-900">?%</dd>
      </div>
    </dl>
  </div>
  </div> <!-- container -->