<div class="m-4 container mx-auto w-1/5">
    <img src="/assets/avatar.jpeg" class="max-w-full h-auto rounded-lg" alt="">
  </div>

  <div class="header py-4 dark:bg-gray-800">
    
    <h1 class="text-4xl md:text-4xl text-center text-gray-700 dark:text-white font-extrabold">A PROPOS DE MOI</h1>
    <p class="italic max-w-2xl text-gray-800 dark:text-white text-center md:mx-auto mx-4 mt-4 text-sm md:text-lg">J'ai commencé à m'intéresser au développement web en Mars 2013 à l'âge de 22 ans.
      Le premier langage que j'ai découvert a été le Perl. A l'époque, je m'instruisais via le Site du Zéro (Maintenant Open Classrooms) et Grafikart.
      
      Puis j'ai découvert le HTML/CSS et le PHP et c'est là que je suis tombé amoureux du développement Web.
      
      J'ai depuis crée plusieurs projets personnels toujours en essayant de me surpasser.</p>
      <p class="italic max-w-2xl text-gray-800 dark:text-white text-center md:mx-auto mx-4 mt-4 text-sm md:text-lg">
        Je suis actuellement en formation de développeur Web / Web mobile <br> à l'AFPA de Mont de Marsan.</p>
        <p class="italic max-w-2xl text-gray-800 dark:text-white text-center md:mx-auto mx-4 mt-4 text-sm md:text-lg">
          Mon objectif est de devenir développeur MEAN.</p>
  </div>
