<!-- component -->
<div class="container  mx-auto w-full h-full">
    <div class="relative wrap overflow-hidden p-10 h-full">
      <div class="border-2-2 absolute border-opacity-20 border-gray-700 h-full border" style="left: 50%"></div>
      <!-- right timeline -->
      <div class="mb-8 flex justify-between items-center w-full right-timeline">
        <div class="order-1 w-5/12"></div>
        <div class="z-20 flex items-center order-1 bg-gray-800 dark:bg-white  shadow-xl w-20 h-20 rounded-full">
          <h1 class="mx-auto font-semibold text-lg text-white dark:text-gray-800">2013</h1>
        </div>
        <div class="order-1 bg-gray-400 rounded-lg shadow-xl w-5/12 px-6 py-4">
          <h3 class="mb-3 font-bold text-gray-800 text-xl">Les débuts</h3>
          <p class="text-sm leading-snug tracking-wide text-gray-900 text-opacity-100">
              Pour être honnête, je ne me rappelle plus exactement les raisons qui m'ont fait me lancer dans l'apprentissage du développement
            web. Je me rappelle juste que ça m'avait énormément plu dès le début. <br>
        
        </p>
        <br>
        <p>Plateformes utilisées :</p>
        <ul>
            <li> - <a href="http://openclassrooms.com" class="text-blue-500"><span class="line-through">Le site du Zero</span> Open Classrooms</a></li>
            <li>- <a href="https://grafikart.fr" class="text-blue-500">Grafikart</a></li>
        </ul>
        <br>
        <p><a href="https://fr.wikipedia.org/wiki/Mathieu_Nebra" class="text-blue-500">@MathieuNebra</a> et <a class="text-blue-500"href="https://jonathan-boyer.fr">@JonathanBoyer</a> (Grafikart) étaient vraiment des légendes pour moi à ce moment la de ma vie.</p>
        </div>
      </div>
  
      <!-- left timeline -->
      <div class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline">
        <div class="order-1 w-5/12"></div>
        <div class="z-20 flex items-center order-1 bg-gray-800 dark:bg-white shadow-xl w-20 h-20 rounded-full">
            <h1 class="mx-auto font-semibold text-lg text-white dark:text-gray-800">2015</h1>
          </div>
        <div class="order-1 bg-gray-600 rounded-lg shadow-xl w-5/12 px-6 py-4">
          <h3 class=" font-bold text-white text-xl">Random-It</h3>
          <h3 class="mb-3 font-bold text-red-800 text-base">Site hors ligne</h3>
          <p class="text-sm font-medium leading-snug tracking-wide text-white text-opacity-100">www.random-it.com était un site composé d'un espace membre où chaque personne pouvait uploader sa photo. L'utilisateur était ensuite amené sur une page où deux photos aléatoires de membres lui étaient proposées et il pouvait cliquer sur la photo qu'il préférait. Le site était codé en AJAX, ce qui fait qu'à aucun moment, la page ne se rafraîchissait.</p>
        </div>
      </div>
      
      <!-- right timeline -->
      <div class="mb-8 flex justify-between items-center w-full right-timeline">
        <div class="order-1 w-5/12"></div>
        <div class="z-20 flex items-center order-1 bg-gray-800 dark:bg-white shadow-xl w-20 h-20 rounded-full">
            <h1 class="mx-auto font-semibold text-lg text-white dark:text-gray-800">2017</h1>
          </div>
        <div class="order-1 bg-gray-400 rounded-lg shadow-xl w-5/12 px-6 py-4">
          <h3 class="font-bold text-gray-800 text-xl">Golden Dollar</h3>
          <h3 class="mb-3 font-bold text-red-800 text-base">Site hors ligne</h3>
          <p class="text-sm leading-snug tracking-wide text-gray-900 text-opacity-100">www.goldendollar.com était un jeu ou l'utilisateur pouvait cliquer sur une image de dollar afin d'en gagner lui même. <br> ( Argent Virtuel ), plus il cliquait et plus il en gagnait. L'utilisateur pouvait ensuite, une fois qu'il avait gagné assez d'argent, acheter des objets lui permettant de gagner encore plus de dollars par clic et ainsi de suite.</p>
        </div>
      </div>
  
      <!-- left timeline -->
      <div class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline">
        <div class="order-1 w-5/12"></div>
        <div class="z-20 flex items-center order-1 bg-gray-800 dark:bg-white shadow-xl w-20 h-20 rounded-full">
            <h1 class="mx-auto font-semibold text-lg text-white dark:text-gray-800 ">2020</h1>
          </div>
        <div class="order-1 bg-gray-600 rounded-lg shadow-xl w-5/12 px-6 py-4">
          <h3 class=" font-bold text-white text-xl">La Françonne</h3>
          <h3 class="mb-3 font-bold text-red-800 text-base"><a href="http://www.franconne.com" target="_blank" class="text-green-800">Site disponible en cliquant ici</a></h3>
          
          <p class="text-sm font-medium leading-snug tracking-wide text-white text-opacity-100">La Franconne est un site développé avec Wordpress pour des gîtes situé à Mirabel aux Baronies ( 26110 ) </p>
        </div>
      </div>

      <!-- right timeline -->
      <div class="mb-8 flex justify-between items-center w-full right-timeline">
        <div class="order-1 w-5/12"></div>
        <div class="z-20 flex items-center order-1 bg-gray-800 dark:bg-white shadow-xl w-20 h-20 rounded-full">
            <h1 class="mx-auto font-semibold text-lg text-white dark:text-gray-800 ">2020</h1>
          </div>
        <div class="order-1 bg-gray-400 rounded-lg shadow-xl w-5/12 px-6 py-4">
          <h3 class="font-bold text-gray-800 text-xl">Ralamoin</h3>
          <h3 class="mb-3 font-bold text-red-800 text-base">Site hors ligne</h3>
          <p class="text-sm leading-snug tracking-wide text-gray-900 text-opacity-100">www.ralamoin.re tiré du créole "Rale a moin" ( Emmène moi ) était un site web de covoiturage mettant en relation des personnes ayant une voiture et des personnes n'en ayant pas et allant au même endroit.</p>
        </div>
      </div>


<!-- left timeline -->
<div class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline">
  <div class="order-1 w-5/12"></div>
  <div class="z-20 flex items-center order-1 bg-gray-800 dark:bg-white shadow-xl w-20 h-20 rounded-full">
      <h1 class="mx-auto font-semibold text-lg text-white dark:text-gray-800 ">2022</h1>
    </div>
  <div class="order-1 bg-gray-600 rounded-lg shadow-xl w-5/12 px-6 py-4">
    <h3 class=" font-bold text-white text-xl">Etudiant à l'Afpa</h3>
    <br>
    
    <p class="text-sm font-medium leading-snug tracking-wide text-white text-opacity-100">Actuellement suivant une formation de Développeur Web / Web mobile à l'AFPA de Mont de Marsan.</p>
  </div>
</div>

 <!-- right timeline -->
 <div class="mb-8 flex justify-between items-center w-full right-timeline">
  <div class="order-1 w-5/12"></div>
  <div class="z-20 flex items-center order-1 bg-gray-800 dark:bg-white shadow-xl w-20 h-20 rounded-full">
      <h1 class="mx-auto font-semibold text-lg text-white dark:text-gray-800 ">2022</h1>
    </div>
  <div class="order-1 bg-gray-400 rounded-lg shadow-xl w-5/12 px-6 py-4">
    <h3 class="font-bold text-gray-800 text-xl">from lower to UPPER</h3>
    <h3 class="mb-3 font-bold text-green-800 text-base"><a href="https://fromlowertoupper.web.app" target="blank()">https://fromlowertoupper.web.app</a></h3>
    <p class="text-sm leading-snug tracking-wide text-gray-900 text-opacity-100">Site développé en Angular permettant de convertir un texte minuscule en majuscule et inversement.</p>
  </div>
</div>



<!-- left timeline -->
<div class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline">
  <div class="order-1 w-5/12"></div>
  <div class="z-20 flex items-center order-1 bg-gray-800 dark:bg-white shadow-xl w-20 h-20 rounded-full">
      <h1 class="mx-auto font-semibold text-lg text-white dark:text-gray-800 ">2022</h1>
    </div>
  <div class="order-1 bg-gray-400 rounded-lg shadow-xl w-5/12 px-6 py-4">
    <h3 class="font-bold text-gray-800 text-xl">The Randomizer</h3>
    <h3 class="mb-3 font-bold text-green-800 text-base"><a href="https://therandomizer.web.app" target="blank()">https://therandomizer.web.app</a></h3>
    <p class="text-sm leading-snug tracking-wide text-gray-900 text-opacity-100">The Randomizer est un petit projet réalisé avec Angular.

      Si vous hésitez entre plusieurs options, ( Ce que vous allez manger ce soir etc...), entrez les dans TheRandomizer et il décidera pour vous.</p>
  </div>
</div>




 <!-- right timeline -->
 <div class="mb-8 flex justify-between items-center w-full right-timeline">
  <div class="order-1 w-5/12"></div>
  <div class="z-20 flex items-center order-1 bg-gray-800 dark:bg-white shadow-xl w-20 h-20 rounded-full">
      <h1 class="mx-auto font-semibold text-lg text-white dark:text-gray-800">2023 ?</h1>
    </div>
  <div class="order-1 bg-gray-400 rounded-lg shadow-xl w-5/12 px-6 py-4">
    <h3 class="font-bold text-gray-800 text-xl">- Soit métier développeur web Junior chez ???</h3>
    <h3 class="font-bold text-gray-800 text-xl">- Soit formation pour devenir Full Stack <span class="text-blue-500">M.E.A.N </span>
      <ul class="list-disc px-5">
        <li><span class="text-blue-500">M</span>ongoDB</li>
        <li><span class="text-blue-500">E</span>xpresss</li>
        <li><span class="text-blue-500">A</span>ngulars</li>
        <li><span class="text-blue-500">N</span>odeJSs</li>
      </ul>
    </h3>
    
  </div>
</div>























    </div>
  </div>