<div class="header py-4 dark:bg-gray-700">
    <p class="text-center text-sm font-bold text-red-500">/projets</p>
    <h1 class="text-4xl md:text-4xl text-center text-gray-700 dark:text-white font-extrabold">Mes projets</h1>
    <p class="max-w-2xl text-gray-500 dark:text-white text-center md:mx-auto mx-4 mt-4 text-sm md:text-lg">Ce que j'ai déja accompli et ce que je souhaite accomplir.</p>
  </div>

  <div class="container mx-auto py-20 w-2/4">
  <!-- This example requires Tailwind CSS v2.0+ -->
<div class="flow-root">
    <ul role="list" class="-mb-8">
        <li>
            <div class="relative pb-8">
              <span class="absolute top-4 left-4 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
              <div class="relative flex space-x-3">
                <div>
                  <span class="h-8 w-8 rounded-full bg-green-500 flex items-center justify-center ring-8 ring-white">
                    <!-- Heroicon name: solid/check -->
                    <svg class="h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                    </svg>
                  </span>
                </div>
                <div class="min-w-0 flex-1 pt-1.5 flex justify-between space-x-4">
                  <div>
                    <p class="text-base text-gray-700">Site web de covoiturage pour l'île de la Réunion.</p>
                    <p class="text-sm text-gray-600">Technologies ou Frameworks utilisées :</p>
                    <ul class="text-sm text-gray-600">
                    <li>- HTML</li>
                    <li>- Bootstrap</li>
                    <li>- PHP</li>
                    <li>- Jquery</li></ul>
                  </div>
                  <div class="text-right text-sm whitespace-nowrap text-gray-500">
                    <time datetime="2020-09-28">2012</time>
                  </div>
                </div>
              </div>
            </div>
          </li>


          <li>
            <div class="relative pb-8">
              <span class="absolute top-4 left-4 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
              <div class="relative flex space-x-3">
                <div>
                  <span class="h-8 w-8 rounded-full bg-green-500 flex items-center justify-center ring-8 ring-white">
                    <!-- Heroicon name: solid/check -->
                    <svg class="h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                    </svg>
                  </span>
                </div>
                <div class="min-w-0 flex-1 pt-1.5 flex justify-between space-x-4">
                  <div>
                    <p class="text-base text-gray-700">Site web de vote entre deux photos ( avec classement )</p>
                    <p class="text-sm text-gray-600">Technologies ou Frameworks utilisées :</p>
                    <ul class="text-sm text-gray-600">
                    <li>- HTML</li>
                    <li>- CSS</li>
                    <li>- Ajax</li>
                    <li>- Jquery</li></ul>
                  </div>
                  <div class="text-right text-sm whitespace-nowrap text-gray-500">
                    <time datetime="2020-09-28">2012</time>
                  </div>
                </div>
              </div>
            </div>
          </li>
    </ul>
  </div>
  </div>