<section>
 
 
  <div class="py-20 dark:bg-gray-900 radius-for-skewed">
    <div class="container px-4 mx-auto">
      <div class="mb-16 flex flex-wrap justify-center md:justify-between items-center">
        <div class="text-center lg:text-left">
          <span class="text-green-600 font-bold">From LAMP to MEAN</span>
          <h2 class="text-4xl lg:text-5xl font-bold font-heading dark:text-gray-300">Mes projets et réalisations</h2>
        </div>
        <a class="hidden md:inline-block py-2 px-6 rounded-l-xl rounded-t-xl bg-green-600 hover:bg-green-700 text-gray-50 font-bold leading-loose transition duration-200" href="https://github.com/Flashtheorie?tab=repositories">Voir plus de projets <i class="fa-brands fa-github fa-lg"></i></a>
      </div>

      


      <div class="flex flex-wrap -mx-4 mb-4">



        <div class="w-full md:w-1/2 lg:w-1/3 mb-8 px-4">
          
            <img class="h-80 w-full mx-auto object-cover rounded" src="assets/yesmoney.png" alt="">
          
          <div align="center" class="dark:text-gray-300"><strong>Yes Money</strong></div>
          <p class="dark:text-gray-300">YES Money est un gestionnaire de finances. 
            Il vous aidera à gérer votre argent efficacement et simplement.</p>
            <i>Le projet est en cours de développement. <br>Technologies utilisées : <ul>
              <li>Angular ( Front End )</li>
              <li>NodeJS ( Back End ) </li>
              <li>MongoDB ( Bases de données</li>
              <li>TailwindCSS ( Framework CSS )</li>
            </ul></i>
        </div>










        <div class="w-full md:w-1/2 lg:w-1/3 mb-8 px-4">
          <a href="https://github.com/Flashtheorie/que-regarder-sur-netflix">
            <img class="h-80 w-full mx-auto object-cover rounded" src="../assets/qrsn.png" alt="">
          </a>
          <div align="center" class="dark:text-gray-300"><strong>QRSN?</strong></div>
          <p class="dark:text-gray-300">Site Internet permettant à ses utilisateurs d'obtenir des recommandations sur quoi regarder sur Netflix selon leurs goûts.
            <i>Le projet est en cours de développement. <br>Technologies utilisées : <ul>
              <li>Angular ( Front End )</li>
              <li>NodeJS ( Back End ) </li>
              <li>MongoDB ( Bases de données</li>
              <li>TailwindCSS ( Framework CSS )</li>
            </ul></i>
          </p>
        </div> 


        <div class="w-full md:w-1/2 lg:w-1/3 mb-8 px-4">
          <a href="https://therandomizer.web.app">
            <img class="h-80 w-full mx-auto object-cover rounded" src="assets/therandomizer.png" alt="">
          </a>
          <div align="center" class="dark:text-gray-300"><strong>The Randomizer</strong></div>
          <p class="dark:text-gray-300">The Randomizer est un petit projet réalisé avec Angular. Si vous hésitez entre plusieurs options, ( Ce que vous allez manger ce soir etc...), entrez les dans TheRandomizer et il décidera pour vous.</p>
        </div> 
        
        <div class="w-full md:w-1/2 lg:w-1/3 mb-8 px-4">
          <a href="https://fromlowertoupper.com">
            <img class="h-80 w-full mx-auto object-cover rounded" src="assets/fromlowertoupper.png" alt="">
          </a>
          <div align="center" class="dark:text-gray-300"><strong>From lower to UPPER</strong></div>
          <p class="dark:text-gray-300">Site développé en Angular et nodeJS permettant de convertir un texte minuscule en majuscule et inversement. <br> <i> Le tout a été déployé sur un serveur poitant vers le domaine fromlowertoupper.com .</i></p>
        </div> 






        <div class="w-full md:w-1/2 lg:w-1/3 mb-8 px-4">
          <a href="https://www.letmecallforyou.com/views/home.php">
            <img class="h-80 w-full mx-auto object-cover rounded" src="assets/mamanphoto.png" alt="">
          </a>
          <div align="center" class="dark:text-gray-300"><strong>"MamanPhoto"</strong></div>
          <p class="dark:text-gray-300">Site développé pour ma mère afin de savoir quelles étaient les plus belles photos de ses chambres d'hôtes que le photographe avait prises. L'utilisateur avait le choix entre deux photos et devait voter pour celui qu'il trouve la plus belle et de nouvelles apparaissait. Ainsi dans l'onglet 'classement', on pouvait voir les photos ayant le plus de votes.</p>
          <i class="dark:text-gray-300">Technologies utilisées : Jquery/Ajax</i>
        </div> 





        
        <div class="w-full md:w-1/2 lg:w-1/3 mb-8 px-4">
          
            <img class="h-80 w-full mx-auto object-cover rounded" src="assets/offline.png" alt="">
          
          <div align="center" class="dark:text-gray-300"><strong>Ralamoin</strong></div>
          <p class="dark:text-gray-300">www.ralamoin.re tiré du créole "Rale a moin" ( Emmène moi ) était un site web de covoiturage mettant en relation des personnes ayant une voiture et des personnes n'en ayant pas et allant au même endroit. <br> Développé en HTML/CSS et PHP/MySQL</p>
        </div> 
      
        <div class="w-full md:w-1/2 lg:w-1/3 mb-8 px-4">
          <a href="https://franconne.com">
            <img class="h-80 w-full mx-auto object-cover rounded" src="assets/franconne.png" alt="">
          </a>
          <div align="center" class="dark:text-gray-300"><strong>La Françonne</strong></div>
          <p class="dark:text-gray-300">La Françonne est un site développé avec Wordpress pour des gîtes situé à Mirabel aux Baronies ( 26110 ) <br><i>Site décliné en trois langue: français, anglais et néerlandais</i></p>
        </div> 
      
        <!-- 
          <div class="w-full md:w-1/2 lg:w-1/3 mb-8 px-4">
          <a href="#">
          <img class="h-80 w-full mx-auto object-cover rounded" src="https://images.unsplash.com/photo-1518098268026-4e89f1a2cd8e?ixlib=rb-1.2.1&amp;ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;auto=format&amp;fit=crop&amp;w=968&amp;q=80" alt="">
          </a>
          </div>



         -->
        
      </div>
      <div class="text-center"><a class="md:hidden inline-block py-2 px-6 rounded-l-xl rounded-t-xl bg-green-600 hover:bg-green-700 text-gray-50 font-bold leading-loose transition duration-200" href="https://github.com/Flashtheorie?tab=repositories">Voir plus de projets</a></div>
    </div>
  </div>
  
  
</section>