<div class="header py-4 dark:bg-gray-700 w-screen h-screen">
    <p class="text-center text-sm font-bold text-blue-500">Je suis un développeur Web Junior</p>
    <h1 class="text-4xl md:text-5xl text-center text-gray-700 dark:text-white font-extrabold">{{title}}</h1>
    <p class="underline max-w-2xl text-gray-500 dark:text-white text-center md:mx-auto mx-4 mt-4 text-sm md:text-lg">
      Technologies utilisées pour la création de ce CV:</p>
      <p class="max-w-2xl text-gray-600 dark:text-white text-center md:mx-auto mx-4 mt-4 text-sm md:text-lg">
      Front-end :  <span class="inline-flex items-center px-5 py-0.5 rounded-full text-xs font-medium bg-red-200 text-red-800"> <a href="https://angular.io">Angular</a> </span>
      <br>
      Back-end :  <span class="inline-flex items-center px-5 py-0.5 rounded-full text-xs font-medium bg-green-200 text-green-800 h"> <a href="https://nodejs.org/en/" class="line-through">nodeJS</a>  (pas encore implémenté)</span>
      <br>
      Framework CSS:  <span class="inline-flex items-center px-5 py-0.5 rounded-full text-xs font-medium bg-blue-200 text-blue-800"><a href="https://tailwindcss.com">TailwindCSS</a> </span>
      
      </p>
<div class="text-center py-20">

</div>
  </div>

  
  