<div class="header py-4 dark:bg-gray-700">
    <p class="text-center text-sm font-bold text-blue-500">Je suis un développeur Web Junior</p>
    <h1 class="text-4xl md:text-5xl text-center text-gray-700 dark:text-white font-extrabold">{{title}}</h1>
    <p class="underline max-w-2xl text-gray-500 dark:text-white text-center md:mx-auto mx-4 mt-4 text-sm md:text-lg">
      Technologies utilisées :</p>
      <p class="max-w-2xl text-gray-600 dark:text-white text-center md:mx-auto mx-4 mt-4 text-sm md:text-lg">
      Front-end :  <span class="inline-flex items-center px-5 py-0.5 rounded-full text-xs font-medium bg-red-100 text-red-800"> <a href="https://angular.io">Angular</a> </span>
      <br>
      CSS:  <span class="inline-flex items-center px-5 py-0.5 rounded-full text-xs font-medium bg-blue-100 text-blue-800"><a href="https://tailwindcss.com">TailwindCSS</a> </span>
      
      </p>
  </div>

  <div class="mb-4 container mx-auto w-2/5">
    <img src="/assets/avatar.jpeg" class="max-w-full h-auto rounded-lg" alt="">
  </div>